 /* start of home page */
 /* body{
  /* overflow-x: hidden; */
 /* } */ 
 .headd{
  background-image: url("homeimages/image.png");
  background-size: cover;
  background-repeat: no-repeat;
  
 }
   .navbar {
     background-color:rgb(4, 90, 4);
     height: 80px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 0 90px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
     color: #1D3A02;
   }
   .navbar .logo {
     margin: 0;
     padding: 0;
     height: 80px;
   }
   .navbar .logo img {
     height: 100%;
   }
   .navbar ul {
     list-style: none;
     margin: 0;
     padding: 0;
     display: flex;
     align-items: center;
   }
   .navbar li {
     margin-left: 20px;
   }
   .navbar li:first-child {
     margin-left: 0;
   }
   .navbar a {
     text-decoration: none;
     color: white;
     font-weight: 600;
     font-size: 16px;
     transition: all 0.2s ease-in-out;
   }
   .navbar a:hover {
     color: blue;
   }
    .background-image img{
     width: 50%;
     height: 80%;
     border: 1px solid black;
     
    
   } 
   .background-image img{
     /* margin-left: 10%; */
     width: 90%;
     height: 60vh;
     border: none;
   
   
   }
    /* img{
     width: 100%;
     height: 20%;
    } */
    .all{
       display: flex;
       justify-content: space-between;
       margin-left: 15%;
       margin-top: 5%;
     
       
    }
    .paragraph  h2{
     color: chartreuse;
     margin-bottom: 50%;
     font-weight: bold;
    
    }
   .paragraph{
     margin-top: 8%;
   }
 /* end of homepage */

 /*start of about us  */
.heading{
    text-align: center;
    color: darkgreen;
}
.heading1{
  margin-left: 20%;
}
/* end of about us */

/* start of products */
.header1 h2{
  text-align: center;
  font-size: 40px;
}
.header1 

 .Vegetables2{
   display: grid;
   grid-template-columns: repeat(3,1fr); 
} 



.fruits-header h2{
    text-align: center;
  font-size: 40px;

}
.Fruits-colum2{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 
}
.Products{
  font-size: 40px;
  text-align: center;
 margin-top: 20px;
 color:  rgb(153, 153, 12);
}
.Fruits-colum2 img{
  box-shadow: 5px 2px 5px 2px #000;
  margin-left: 2%;
  padding-top: 40px;
  gap: 30px;
  padding-top: 20%;
}

.Fruits-colum1{
  display: grid;
   grid-template-columns: repeat(3,1fr); 

}
.Fruits-colum1 img{
  margin-left: 2%;
  padding-top: 40px;
  margin-bottom: 20%;
  gap: 30%;
  padding-top: 20%;
}
.fruit{
  height: 400px;
  width: 80%;
  
  
}
.fruit{
  border: 2px solid white;
}

.Vegetables2 img{
  margin-left: 2%;
  padding-top: 40px;
  margin-bottom: 20%;
  padding-top: 20%;
}

.veggie{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.veggie img{
  margin-left: 2%;
  padding-top: 40px;
  margin-bottom: 20%;
  gap: 30%;
 padding-top: 20%;
}
.view-more{
  margin-left: 80%;
 
}
.view-more button{
  padding: 5%;
padding-left: 15%;
font-size: 20px;
background-color: rgb(153, 153, 12);
}
.view-more2{
  margin-left: 80%;
}
.view-more2 button{
 padding: 5%; 
padding-left: 15%;
background-color: rgb(153, 153, 12);
margin: 10%;
}
.veggie p{
font-size: 20px;
padding-left: 20px;
font-weight: bold;
}
.Fruits-colum1 p{
  font-size: 20px;
  padding-left: 20px;
  font-weight: bold;
}

/* end of products*/

/* start of location */
.inform {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.contact {
  margin-top: 20px;
  font-size: 1em;
}
.info {
  font-weight: bold;
  text-align: center;
  color: red;
  font-size: x-large;
}
.conta {
  font-weight: bolder;
  font-size: 400%;
  text-align: center;
  color: darkgreen;
}
.loc {
  font-weight: bold;
  font-size: large;
  text-align: center;
  color: darkgreen;
}
.num {
  color: red;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
}
.email {
  text-align: center;
  color: darkgreen;
}
.location {
  padding-bottom: 56.25%;
  height: 0;
}
.location iframe {
  top: 0;
  left: 0;
}
/* end of location */

/* start of footer */
.foot-inform{
  display: flex;
  justify-content: space-between;
     background-color: #121F01;
  color: #fff;
  margin-top: 3%;
}
.logo{
  width: 25%;
}
.last{
  margin-left: 38%;
  color: #121F01;
}
/* end of footer */

